<h3>Username</h3>
<%= @profile.username %>

<h3>Name</h3>
<%= @profile.name %>

<h3>Location</h3>
<%= @profile.location %>

<h3>User Account Created</h3>
<%= @profile.user.created_at %>

<h3>User Account Last Accessed</h3>
<%= @profile.user.updated_at %>
