  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.collection_select :level, SkillLevel.all, :id, :selection_name %>
  </p>
  <p>
    <%= f.submit button_text %>
  </p>
