<h1>Skill: <%=h @skill.name %></h1>

<p>
  <b>Level:</b>
  <%=h @skill.level_label %>
</p>

<%= render :partial => 'activity_logs/form' %>

<h3>Activity Log</h3>
<ul class="activity_log">
  <% @skill.activity_logs.reverse_each do |activity_log| -%>
    <li<%= cycle(' class="alt"','')%>><%= activity_log.entry %> - <%= time_ago_in_words(activity_log.created_at) %> ago </li>
  <% end -%>
</ul>
 


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
