<div id="skill" class="panel" title="<%= @skill.name %>" selected="true">

  <h2><%= @skill.name  %></h2>
  <h2>Level: <%=h @skill.level_label %></h2>
  <br />
  <br /> 
  <%= link_to 'Edit', edit_skill_path(@skill), :class => 'whiteButton' %>
  <br />
  <%= link_to 'Delete', @skill, :method => :delete, :confirm => 'Are you sure?', :class => 'redButton' %>
</div>

